---
import { getCollection } from "astro:content";
import Container from "./Container.astro";
import BlogPostCard from "./BlogPostCard.astro";

const relatedPosts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---
<section id="blog" class="bg-accent/10 w-full py-24 my-24">
  <Container>
    <h1 class="font-semibold text-center text-3xl">Featured blog posts</h1>
    <p class="text-slate-700 text-center leading-loose sm:text-lg sm:leading-loose mt-2">
      Check out my most recent blog posts.
    </p>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-7">
      {
        relatedPosts.map((post) => (
          <div class="md:last:hidden xl:last:block">
            <BlogPostCard
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              heroImage={post.data.heroImage}
              slug={post.slug} 
            />
          </div>
        ))
      }
    </div>
  </Container>
</section>
