---
import { ExperienceItem } from './ExperienceItem';
import { Container } from './Container';
import { SectionHeading } from './SectionHeading';

// Experience data array
const experiences = [
  {
    position: "Software Developer Intern",
    place: "2cW",
    contract: "Internship",
    location: "Remote",
    image: "/src/assets/2cw.jpg",
    dateRange: "Jul 2025 - now"
  },
  {
    position: "Software Developer",
    place: "Ever Technologies",
    contract: "B2B Contract",
    location: "Remote",
    image: "/src/assets/ever.png",
    dateRange: "Jan 2025 - Apr 2025"
  },
  {
    position: "Bachelor of Computer Science",
    place: "Maria Curie-Skłodowska University",
    location: "Lublin, Poland",
    image: "/src/assets/umcs.jpeg",
    dateRange: "2023 - now"
  }
];
---

<section id="experience" class="py-16 sm:py-20 md:py-24">
  <Container>
    <div class="w-full flex flex-col lg:flex-row lg:justify-between lg:gap-16 xl:gap-32">
      <div class="mb-6 sm:mb-8 lg:mb-0">
        <SectionHeading>
          Experience and education
        </SectionHeading>
        <p class="mt-4 sm:mt-6 max-w-[600px] sm:text-lg leading-loose">
          I have contributed to real-world software projects in a professional setting,
          working closely with teams to deliver reliable code.
        </p>
      </div>

      <div class="flex flex-col w-full items-start lg:items-center gap-6">
        {experiences.map((experience) => (
          <ExperienceItem 
            position={experience.position}
            place={experience.place}
            contract={experience.contract}
            location={experience.location}
            image={experience.image}
            dateRange={experience.dateRange}
          />
        ))}
      </div>
    </div>
  </Container>
</section>
