---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";
import type { Skill } from '../skills';

export interface Props {
  name: string;
  url: string;
  icon: string;
  color?: string;
  type?: 'contributions' | 'own';
  from: string;
  to?: string;
  skills?: string[];
}

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.svg')
const { name, color = '#000', type = 'own', url, icon, from, to, skills = [] } = Astro.props;
if (!images[icon]) throw new Error(`"${icon}" does not exist in glob: "/src/assets/*.svg"`);

---
<div class="flex flex-col">
  <div class="flex gap-4 mt-2">
    <Image src={images[icon]()} alt="Novu logo" class="w-16 h-16 p-2.5 rounded-lg" style={{ backgroundColor: color }} />
    <div class="flex flex-col">
      <a 
        class="font-bold text-lg hover:text-primary"
        href={url}
        target="_blank"
      >
        { name }
        <span class:list={[
          "ml-2 py-0.5 px-2 text-white text-xs font-semibold rounded-xl",
          { "bg-primary": type == 'contributions' },
          { "bg-black": type == 'own' }
        ]}> { type == 'own' ? 'OWN PROJECT' : 'CONTRIBUTIONS' } </span>
      </a>
      <p class="text-primary font-medium">{from} { to && `- ${to}` }</p>
    </div>
  </div>


  <p class="text-slate-500 mt-2"><slot /></p>

  <div class="mt-6 flex flex-wrap gap-3">
    {skills.map(skill => (
      <span class="bg-accent/30 text-primary font-medium text-sm p-2 rounded-lg">{skill}</span>
    ))}
  </div>
</div>
  