---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Container from '../components/Container.astro';
import Share from '../components/Share.astro';
import ScrollTop from '../components/ScrollTop.astro';

type Props = CollectionEntry<'blog'>['data'] & { readTime: string };

const { title, description, pubDate, heroImage, readTime } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<ScrollTop />
		<Header />
		<main class="py-16 md:py-28">
		<Container>
			<article class="blogpost">
				<div class="not-prose md:text-base">
					<span class="text-primary font-semibold">GUIDE</span>
					<h1 class="font-bold text-3xl lg:text-5xl mt-4 whitespace-normal leading-tight">{title}</h1>
				</div>
				<div>
					<p>{description}</p>
				</div>
				<div class="flex justify-between items-center not-prose md:text-base">
					<div class="flex gap-3 items-center">
						<div class="w-11 h-11 bg-slate-800 rounded-full"></div>
						<div class="flex flex-col">
							<span class="font-medium">Michał Dziuba</span>
							<span class="text-sm text-slate-500"><FormattedDate date={pubDate} /> · {readTime}</span>
						</div>
					</div>

					<Share />
				</div>
				<div>
					{heroImage && <img class="w-full rounded-lg" width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div>
					<slot />
				</div>
			</article>
		</Container>
		</main>
		<Footer />
	</body>
</html>
